{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block content %}

    <div class="container">
        <div class="col-md-12">
            {% for image in image_list %}
            <div class="col-lg-4 col-sm-6 text-center">
                <a href="{{ image.pic.url }}" data-toggle="lightbox" data-title="{{ image.caption }}">
                    <img src="{{ image.pic.url }}" class="img-fluid img-thumbnail">
                </a>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock content %}